.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
      }

  .homeContainer {
    flex: 6;

    .widgets {
      display: flex;
      padding: 1.25rem;
      gap: 1.25rem;

      @media (max-width: 768px) {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
        margin-left: 100px;
        grid-gap: 100px;
      }
    }

    .charts {
      display: flex;
      padding: 1.25rem;
      gap: 1.25rem;
      @media (min-width: 400px) {
        width: 100%;
        align-self: center;
        display: block;
      }
    }

    .listContainer {
      @include Shadow();
      width: 100%;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 0.938rem;
      }
    }

    // Add styles for content when sidebar is not open
    .content {
      flex: 1; // Adjust this as needed
    }
  }
}

.sidebar {
  display: block;
transition: transform 0.5s ease; 
}

.showsidebar {
  display: none;
}

