.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 0.625rem;
  color: gray;
  @media (max-width: 768px) {
    max-width:360px;
   flex: 1;  // Adjust the width for smaller screens
   margin-bottom: 1rem;  // Add some margin for better spacing
 }

  .title {
    margin-bottom: 1.2rem;


  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
